@page
@model StoreWebApp.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>

<p>
    <a asp-page="Create" class="btn btn-primary">Создать</a>
</p>



@foreach (var item in Model.Product) {

    <div class="card" style="margin: 10px">

        <div style="display: flex">
            <div class="card">
                <img src="~/images/@Html.DisplayFor(modelItem => item.Photo)"
                     width="50px"
                     onerror="this.src='/images/picture.png';" />
            </div>
        </div>
        <div class="card">
            <p>
                @Html.DisplayFor(modelItem => item.Category)
                |
                @Html.DisplayFor(modelItem => item.Title)
            </p>

            <p>
                Описание товара: @Html.DisplayFor(modelItem => item.Description)
            </p>

            <p>
                Производитель: @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            </p>

            <p>
                Поставщик: @Html.DisplayFor(modelItem => item.Supplier.Name)
            </p>

            <p>
                Цена: @Html.DisplayFor(modelItem => item.Price)
            </p>

            <p>
                Единица измерения: @Html.DisplayFor(modelItem => item.Unit)
            </p>

            <p>
                Количество на складе: @Html.DisplayFor(modelItem => item.Amount)
            </p>
        </div>        

        <div class="card">
                Действующая скидка: @Html.DisplayFor(modelItem => item.Discount)
            <p>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Изменить</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-primary">Удалить</a>
            </p>
        </div>     

        
    </div>
}
