@page
@model StoreWebApp.Pages.Products.IndexModel

@{
    ViewData["Title"] = "Товары";
}

<h1>Товары</h1>


    <a asp-page="Create" class="btn btn-primary">Создать</a>
<br/>


@foreach (var item in Model.Product) {
    decimal price = item.Price * (100 - item.Discount) / 100;

    <div class="card" style="margin: 10px">

        <div style="display: flex">
            <div class="card" style="width: 300px; display: flex">
                <img src="~/images/@Html.DisplayFor(modelItem => item.Photo)"
                     width="200px"
                     onerror="this.src='/images/picture.png';" />
            </div>        

        <div class="card" style="width: 100%">
            
                @Html.DisplayFor(modelItem => item.Category)
                |
                @Html.DisplayFor(modelItem => item.Title)
            <br/>
            
                Описание товара: @Html.DisplayFor(modelItem => item.Description)
            <br/>
                        
                Производитель: @Html.DisplayFor(modelItem => item.Manufacturer.Name)
            <br/>
            
                Поставщик: @Html.DisplayFor(modelItem => item.Supplier.Name)
            <br/>
                        
                Цена: @item.Price.ToString("C")
                Новая цена: @price.ToString("C")
            <br/>
                        
                Единица измерения: @Html.DisplayFor(modelItem => item.Unit)
            <br/>
            
                Количество на складе: @Html.DisplayFor(modelItem => item.Amount)
            <br/>
        </div>        

            <div class="card" style="display: flex; align-items: center; width: 200px; justify-content:center">
                Cкидка: @Html.DisplayFor(modelItem => item.Discount)%
                
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Изменить</a>
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-primary">Удалить</a>
            <br/>
        </div>
        
        </div>        
    </div>
}
